*
{
	margin:0;
	padding:0;
}
#header
{
	height:100px;
	background:#f60;
	border:1px #000 solid;
	box-sizing:border-box;
	padding:3px;
}
.container
{
	margin:0 auto;
	width:960px;
	position:relative;
}
.cont
{
	width:470px;
	border:1px solid #000;
	position:absolute;
	top:10px;
	padding:3px;
	box-sizing:border-box;
}
