#supercontainer
{
	width:400px;
	height:400px;
	background-color:#f60;
	margin:0 auto;
}
#container
{
	width:400px;
	height:400px;
	background-color:#f2f2f2;
	margin:0 auto;
	border:2px solid #000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#custom
{
	position:relative;
	top:20px;
	left:30%;
}
