#sub-top
{
	width:100px;
	margin:150px 40%;
}
.rot
{	
	position:relative;
	width:200px;
	height:100px;
	background-color:#f60;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;
	border:2px solid #000;
}