#imag,#optionsfilters
{
	float:left;
}
#imag img
{
	width: 400px;
	border:2px solid #000;
}
#optionsfilters
{
	text-align:left;
	padding:10px;
	padding-top:0;
	margin:4px;
	margin-left:20px;
}
#webfilters
{
margin-left:80px;
}
#optionsfilters td,#optionsfilters tr
{
	padding:0;
}
#optionsfilters td:first-child
{
	text-align:right;
}