body{
	background: url(../img/grunge_wall.png) repeat;
}
#wrapper{
	width:1250px;
	height:650px;
	display:block;
	margin:0 auto;
	-webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 10px rgba(50, 50, 50, 0.75);
}
#wrapper header {
	height:10%;
	width:100%;
	background: hsla(56, 26%, 96%, 0.38);
	-webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 10px rgba(50, 50, 50, 0.75);
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
#wrapper section {
	height:85%;
	width:100%;
	background-color: hsla(56, 26%, 96%, 0.38);
}
#wrapper footer {
	height:5%;
	width:100%;
	background-color: hsla(56, 26%, 96%, 0.38);
	-webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 10px rgba(50, 50, 50, 0.75);
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#wrapper h3, #wrapper h6{
	color:#000 !important;
	margin:0;
	padding: 0;
	text-align: center;
	font-family: Helvetica;
	font-size:18px;
}
#wrapper h6 {
	font-size:12px;
}
#wrapper header h3 {
	color:#000 !important;
	margin:10px;
	margin-top: 18px;
}
#wrapper footer, #wrapper section {
	display:box;
	/* Internet Explorer 10 */
	display:-ms-flexbox;
	-ms-flex-pack:center;
	-ms-flex-align:center;

	/* Firefox */
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;

	/* Safari, Chrome, and Opera */
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;

	/* W3C */
	display:box;
	box-pack:center;
	box-align:center;
}
#wrapper header {
	display:box;
	/* Internet Explorer 10 */
	display:-ms-flexbox;
	-ms-flex-pack:left;
	-ms-flex-align:left;

	/* Firefox */
	display:-moz-box;
	-moz-box-pack:left;
	-moz-box-align:left;

	/* Safari, Chrome, and Opera */
	display:-webkit-box;
	-webkit-box-pack:left;
	-webkit-box-align:left;

	/* W3C */
	display:box;
	box-pack:left;
	box-align:left;
}
#img img {
	width:80px;
	height:65px;
	position:relative;
	margin:0;
	padding:0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#supercontainer {
	padding: 5px;
}
#container {
 	width:600px;
 	height:400px;
 }